include _mixins
block footer

    footer#footer.footer
        .container
            .footer__inner
                .footer__about
                    .about__about-us
                        .about-us__title.about__title О нас
                        .about__text Наша компания занимается изготовлением металлоконструкций, выполнением работ по бестраншейной проходке, продажей и сдачей в аренду оборудования для подземных работ и бестраншейной прокладки трубопроводов, установок для строительного водопонижения и выполнением работ по строительному водопонижению
                    .about__services
                        .about__services_title.about__title Услуги
                        .about__services_items
                            .about__services_item
                                .image
                                    +img('about/check.svg')
                                .text
                                    a(href='javascript:void(0)') Аренда проходческого оборудования
                            .about__services_item
                                .image
                                    +img('about/check.svg')
                                .text
                                    a(href='javascript:void(0)') Водопонижение — выполнение работ и аренда установок
                            .about__services_item
                                .image
                                    +img('about/check.svg')
                                .text
                                    a(href='javascript:void(0)') Производство и продажа шахтных колец крепления и других металлоконструкций
                            .about__services_item
                                .image
                                    +img('about/check.svg')
                                .text
                                    a(href='javascript:void(0)') Работы по проходке
                            .about__services_item
                                .image
                                    +img('about/check.svg')
                                .text
                                    a(href='javascript:void(0)') Продажа оборудования и материалов
                    .about__regions
                        .about__regions_title.about__title Регионы деятельности
                        .about__regions_addresses Москва, Московская область, Ленинградская область, Серпухов, Тульская область, Калужская область, Рязанская область, Новгородская область
                    .about__contacts
                        .about__contacts_title.about__title Контакты
                        .about__contacts_items
                            .about__contact_item
                                a(href='tel:79857864068') +7 985 786-40-68
                            .about__contact_item г. Москва, ул. Талалихина, дом. 41, стр. 9
                            .about__contact_item
                                a(href='mailto:info@ym333.ru') info@ym333.ru
                            .about__contact_item
                                a(href='mailto:aoym333@gmail.com') aoym333@gmail.com
                .footer__bottom
                    .footer__policy
                        a(href="policy.html").footer__title.link.link--white-opacity Политика конфиденциальности

                    .footer__devs
                        a(href="https://di-project.studio/") Разработка сайта:
                        span  Di-Project.Studio
                    .footer__company © 2015–2024 Управление механизации 333
