mixin objects(title)
    section.objects
        .container
            .objects__inner
                .objects__title= title
                .objects__items
                    - var objects = [{title: 'Водопонижение и строительство', description: 'Водопонижение и строительство водостока. Объект г.Москва станция Рижская'}, {title: 'Водопонижение и строительство', description: 'Водопонижение и строительство водостока. Объект г.Москва станция Рижская'}, {title: 'Водопонижение и строительство', description: 'Водопонижение и строительство водостока. Объект г.Москва станция Рижская'}, {title: 'Водопонижение и строительство', description: 'Водопонижение и строительство водостока. Объект г.Москва станция Рижская'}]

                    each item, index in objects
                        +object(item.title, item.description, index)

            if bodyClass === 'main-page'
                .objects__button-add.btn.btn-orange Ещё объекты