---
title: 'Страница | Контакты'
bodyClass: contacts-page
yandexMap: true
---

extends includes/_page
include components/_breadcrumbs

block main
    +breadcrumbs('', ['Контакты'])

    section.contacts
        .container
            .contacts__inner
                .contacts__inner_text
                    h1 Контакты
                    .contacts__inner_text-block
                        p Фактический (почтовый) адрес:
                        div
                            div
                                +img('header/location-marker.svg')
                            p г. Москва, ул. Талалихина, дом. 41, стр. 9
                    .contacts__inner_text-block
                        p Адрес производства:
                        div
                            div
                                +img('header/location-marker.svg')
                            p г. Серпухов, ул. Пушкина, д. 45, Бизнес-парк «Развитие»
                    .contacts__inner_text-block
                        p Телефон/Факс:
                        div
                            div
                                +img('header/phone.svg')
                            p
                                a(href="tel:79857864068") +7 985 786-40-68
                    .contacts__inner_text-block
                        p Email:
                        div
                            .emails
                                div
                                    div
                                        +img('header/mail.svg')
                                    p
                                        a(href='mailto:info@ym333.ru') info@ym333.ru
                                div
                                    div
                                        +img('header/mail.svg')
                                    p
                                        a(href='mailto:aoym333@gmail.com') aoym333@gmail.com

                .contacts__inner-map
                    script.
                        let placemarks = [
                            {
                                coordinates: [55.77858306897576,37.6964715],
                            }
                        ];
                        let centerPoint = [55.77858306897576,37.6964715];
                        let zoomValue = 17;
                    .map__wrapper
                        #map