---
title: 'Страница | Главная'
bodyClass: main-page
//yandexMap: true
---

extends includes/_page

block main
    section.main-banner
        .container
            .main-banner__inner
                .main-banner__image
                    +img('main-page/main-banner-image.png')
                .image-filter
                picture
                    source(srcset="assets/images/lightnings/top.png", media="(min-width: 1200px)")
                    +img('lightnings/top.png')
                .main-banner__items
                    .main-banner__item.bg-orange.text-white
                        .main-banner__item-name Водопонижение
                        .main-banner__item-text выполним работы или предоставим в аренду
                    .main-banner__item.bg-black.text-white
                        .main-banner__item-name Аренда и продажа
                        .main-banner__item-text строительного оборудования
                    .main-banner__item.bg-light-gray.text-black
                        .main-banner__item-name Щитовая и микрощитовая
                        .main-banner__item-text проходка
                    .main-banner__item.bg-orange.text-white
                        .main-banner__item-name Изготовление металлоконструкций
                    .main-banner__item.bg-light-gray.text-black
                        .main-banner__item-name Шахтные кольца крепления
    section.benefits
        .container
            .benefits__inner
                .benefits__items
                    .benefits-item
                        .benefits-item__image
                            +img('benefits/01.svg')
                        .benefits-item__text
                            .benefits-item__text-title Качественно
                            .benefits-item__text-description Высокое качество продукции и производства работ. Контроль на всеx этапах
                    .benefits-item
                        .benefits-item__image
                            +img('benefits/02.svg')
                        .benefits-item__text
                            .benefits-item__text-title Быстро
                            .benefits-item__text-description Самые быстрые сроки выполнения заказов
                    .benefits-item
                        .benefits-item__image
                            +img('benefits/03.svg')
                        .benefits-item__text
                            .benefits-item__text-title Профессионально
                            .benefits-item__text-description У нас работают профессионалы своего дела, квалифицированные специалисты
                    .benefits-item
                        .benefits-item__image
                            +img('benefits/04.svg')
                        .benefits-item__text
                            .benefits-item__text-title Наш или ваш материал
                            .benefits-item__text-description Вы можете предоставить свой материал, из которого мы изготовим продукцию

    section.services
        .container
            .services__inner
                .services__title Наши услуги
                .services__items
                    .services__item.bg-gray-02.text-white
                        .services__item-image
                            +img('services/water-proof.svg')
                        .services__item-title Водопонижение
                        .services__item-description
                            p Установка вакуумного водопонижения
                            p Эжекторные установки
                            p Водоотведение
                    .services__item.bg-black.text-white
                        .services__item-image
                            +img('services/rent.svg')
                        .services__item-title Аренда оборудования
                        .services__item-description
                            p Щит проходнический ПЩМ
                            p Продавливание стального футляра (установки)
                            p Тоннельная опалубка
                            p Кран СПК-1000,2000
                            p Микрощит AVN
                    .services__item.bg-orange.text-white
                        .services__item-image
                            +img('services/safety.svg')
                        .services__item-title Выполняемые работы
                        .services__item-description
                            p Устройство защитных экранов (под автодорогами, железнодорожными путями)
                            p Устройство стальных и железобетонных футляров а также коллекторов под железнодорожными путями
                            p Проходка шахтных стволов (деревянным креплением а также железобетонными кольцами) любых диаметров.
                            p Устройство котлованов в трудных условиях
                            p Щитовые проходки
                            p Санация труб методом навивки а также труба в трубе
                            p Бурошнековое бурение
                    .services__item.bg-light-gray.text-black
                        .services__item-image
                            +img('services/rigging.svg')
                        .services__item-title Металлоконструкции
                        .services__item-description
                            p Шахтные кольца крепления
                            p Секции ограждений
                            p Лестницы для колодцев
                            p Закладные детали и конструкции
    section.work-scheme
        .container
            .work-scheme__inner
                .work-scheme__title Схема работ
                .work-scheme__items
                    .work-scheme__item
                        .work-scheme__item-top
                            .work-scheme__item-top_number 1
                            .work-scheme__item-top_arrow
                                +img('scheme/arrow-right.svg')
                        .work-scheme__item-text Звонок, письмо на email, заявка через сайт
                    .work-scheme__item
                        .work-scheme__item-top
                            .work-scheme__item-top_number 2
                            .work-scheme__item-top_arrow
                                +img('scheme/arrow-right.svg')
                        .work-scheme__item-text Согласование условий заказа
                    .work-scheme__item
                        .work-scheme__item-top
                            .work-scheme__item-top_number 3
                            .work-scheme__item-top_arrow
                                +img('scheme/arrow-right.svg')
                        .work-scheme__item-text Заключение договора
                    .work-scheme__item
                        .work-scheme__item-top
                            .work-scheme__item-top_number 4
                            .work-scheme__item-top_arrow
                                +img('scheme/arrow-right.svg')
                        .work-scheme__item-text Оплата заказа
                    .work-scheme__item
                        .work-scheme__item-top
                            .work-scheme__item-top_number 5
                            .work-scheme__item-top_arrow
                                +img('scheme/arrow-right.svg')
                        .work-scheme__item-text Выполнение работ, предоставление оборудования
                    .work-scheme__item.work-scheme__item-submit
                        .work-scheme__item-submit_check
                            +img('scheme/check.svg')
                        .work-scheme__item-submit_text Оставьте нам заявку, мы свяжемся с вами в ближайшее время
                        a(href="javascript:void(0)").btn.btn-white.work-scheme__button Оставить заявку
    section.objects
        .container
            .objects__inner
                .objects__title Фото объектов
                .objects__items
                    .objects__item
                        .image
                            +img('objects/object-1.png')
                        .content
                            .text
                                .title Водопонижение и строительство
                                .description Водопонижение и строительство водостока. Объект г.Москва станция Рижская
                            .objects__button.btn.btn-transparent Оставить заявку
                    .objects__item
                        .image
                            +img('objects/object-2.png')
                        .content
                            .text
                                .title Водопонижение и строительство
                                .description Водопонижение и строительство сети водопровода г.Подольск станция Подольск
                            .objects__button.btn.btn-transparent Оставить заявку
                    .objects__item
                        .image
                            +img('objects/object-3.png')
                        .content
                            .text
                                .title Водопонижение
                                .description Водопонижение Объект г.Москва Комсомольская площадь Строительство первоочередного парка для обслуживания поездов Сапсан
                            .objects__button.btn.btn-transparent Оставить заявку
                    .objects__item
                        .image
                            +img('objects/object-4.png')
                        .content
                            .text
                                .title Водопонижение
                                .description Водопонижение Объект г.Раменское ст.Раменское
                            .objects__button.btn.btn-transparent Оставить заявку
                .objects__button-add.btn.btn-orange Ещё объекты
    section.questions
        .questions__bg
            +img('questions/questions-image.png')
        .container
            .questions__inner
                .questions__title
                    .small-text Напишите нам!
                    .big-text Есть вопросы?
                .questions__form
                    form
                        .questions__inputs
                            .input.input-1
                                input(placeholder='Ваше имя*', type='text').custom-input
                            .input.input-2
                                input(placeholder='Ваш телефон*', type='tel').phone-mask.custom-input
                            .input.input-3
                                input(placeholder='Электроння почта', type='text').custom-input
                            .input.input-4
                                textarea(placeholder='Сообщение:').custom-input
                        .bottom
                            button.btn.btn-orange.questions__button(type='button') Оставить заявку
                            .questions__agree Отправляя данные, вы соглашаетесь с политикой конфиденциальности, на сбор и обработку персональных данных.

    section.partners
        picture
            source(srcset="assets/images/lightnings/bottom-big.png", media="(min-width: 1600px)")
            source(srcset="assets/images/lightnings/bottom-middle.png", media="(min-width: 1200px)")
            source(srcset="assets/images/lightnings/bottom-small.png", media="(min-width: 744px)")
            +img('lightnings/bottom-mini.png')

        .container
            .partners__inner
                .partners__title Наши партнёры
                .partners__items
                    .partners__item
                        .image
                            +img('partners/image-1.png')
                    .partners__item
                        .image
                            +img('partners/image-2.png')
                    .partners__item
                        .image
                            +img('partners/image-3.png')
                    .partners__item
                        .image
                            +img('partners/image-4.png')
                    .partners__item
                        .image
                            +img('partners/image-5.png')
                    .partners__item
                        .image
                            +img('partners/image-6.png')

