---
title: 'Страница | Заявка на покупку оборудования и материалов'
bodyClass: rent-page
---

extends includes/_page
include components/_breadcrumbs

block main
    +breadcrumbs('', ['Продажа оборудования для прокладки трубопроводов'],['Заявка на покупку оборудования и материалов'])
    section.order
        .container
            .order__inner
                h1 Заявка на покупку оборудования и материалов

                form
                    .order__inner-form
                        .form-inputs
                            .form-input-top
                                .form-input
                                    input(type='text' placeholder='Ваше имя*').input
                                .form-input.phone-mask
                                    input(type='tel' placeholder='Ваш телефон*')
                                .form-input
                                    input(type='text' placeholder='Электронная почта')
                                .form-input
                                    textarea(placeholder='Комментарий к заявки')
                            .form-input-bottom
                                p Поля, отмеченные символом * обязательные для заполнения.
                                .button
                                    a.btn.btn-orange
                                        .text Отправить
                                        .arrow
                                            +img('arrow-right.svg')
                                    .agree Отправляя данные, вы соглашаетесь с политикой конфиденциальности, на сбор и обработку персональных данных.

                        .form-checkboxes
                            label.form-checkbox Щит ПЩМ 2,0
                                input(type='checkbox')
                                span
                            label.form-checkbox Щит ПЩМ 2,56
                                input(type='checkbox')
                                span
                            label.form-checkbox Щит ПЩМ 3,6
                                input(type='checkbox')
                                span
                            label.form-checkbox Шахтный электровоз АРП2Т
                                input(type='checkbox')
                                span

