---
title: 'Страница | Аренда оборудования'
bodyClass: rent-page
---

extends includes/_page
include components/_breadcrumbs

block main
    +breadcrumbs('', ['Аренда проходческого оборудования для строительства инженерных сетей'])
    section.rent
        .container
            .rent__inner
                h1 Аренда проходческого оборудования для строительства инженерных сетей
                p «Управление Механизации 333» предлагает в аренду строительную технику, оборудование и материалы для подземных работ и бестраншейной прокладки трубопроводов или других инженерных сетей методом продавливания, щитовой и микрощитовой проходки. Так же мы сдаём в аренду оборудование для устройства строительного водопонижения.
                a.btn.btn-orange.btn-with-arrow
                    .btn-text Оформить заявку
                    .btn-arrow
                        +img('arrow-right.svg')
                .rent-items
                    .rent-item
                        .rent-item_image
                            +img('rent/1.png')
                        .rent-item_text
                            p Строительное водопонижение иглофильтрами — выполнение работ, аренда оборудования
                            p Выполняем работы по устройству строительного водопонижения в Москве, Московской области, Ленинградской области, Новгородской области, Тульской области, Калужской области, Рязанской области, Серпухове. Так же сдаём в аренду установки водопонижения.
                    .rent-item
                        .rent-item_image
                            +img('rent/2.png')
                        .rent-item_text
                            p Щит проходческий ПЩМ — выполнение проходки, аренда, продажа
                            p Выполняем работы по проходке щитами, сдаём в аренду и продаём проходческие щиты ПЩМ 2,0, ПЩМ 2,56, ПЩМ 3,2, ПЩМ 3,6, ПЩМ 4,0. Механизированный горный щит предназначен для проходки закрытым способом с сооружением сборной железобетонной или чугунной обделки в неводоносных или осушенных грунтах I–IV категории.
                    .rent-item
                        .rent-item_image
                            +img('rent/3.png')
                        .rent-item_text
                            p Микротоннелирование в Москве и МО Микрощитами AVN — выполнение проходки, аренда установок
                            p Выполняем работы микротоннелепроходческими комплексами AVN 600, AVN800, AVN1000, AVN1200, AVN1500, AVN2000 Херренкнехт (Herrenknecht), а так же сдаём в аренду установки. Микрощит предназначен для бестраншейной прокладки трубопроводов механизированным способом без нахождения людей в забое в сухих или обводненных грунтах.
                    .rent-item
                        .rent-item_image
                            +img('rent/4.png')
                        .rent-item_text
                            p Химическое закрепление грунтов
                            p Выполняем работы по химическому закреплению грунтов. Данный метод применяется при строительстве подземных сооружений, когда необходимо уменьшить приток воды и стабилизировать грунтовый массив.
                    .rent-item
                        .rent-item_image
                            +img('rent/5.png')
                        .rent-item_text
                            p Струйная цементация грунтов Jet Grouting
                            p Технология, при которой под высоким давлением нагнетается тонкие струи цементного раствора горизонтально в стенку скважины. Струя одновременно разрушает и перемешивает грунт. В результате получается грунтоцементная свая с низкой водопроницаемостью и повышенной прочностью.
