---
title: 'Страница | Услуги'
bodyClass: services-page
---

extends includes/_page
include components/_breadcrumbs
include components/_objects

block main
    +breadcrumbs('', ['Строительное водопонижение иглофильтрами — выполнение работ, аренда оборудования'])
    section.services-page
        .container
            .services-page__inner
                h1 Строительное водопонижение иглофильтрами — выполнение работ, аренда оборудования
                .services__info-block
                    .services__info-block_image
                        +img('services-page/main.png')
                    .services__info-block_text
                        h2 Работы по водопонижению и аренда установок
                        p «Управление механизации 333» занимается выполнением работ по устройству строительного водопонижения в Москве, Московской области, Ленинградской области, Новгородской области, Тульской области, Калужской области, Рязанской области, Серпухове. Так же вы можете взять в аренду установку водопонижения и выполнить работы самостоятельно.
                        p Строительное водопонижение — это комплекс мер, обеспечивающих понижение уровня грунтовых вод в котлованах или траншеях на строительной площадке и его поддержание на время проведения строительных работ.
                        p Наши сотрудники имеют большой опыт по выполнению работ любой сложности, а оборудование позволяет понижать уровень грунтовых вод на глубине залегания до 20 метров.
                        a(href='javascript:void(0)').btn.btn-orange.w100.btn-with-arrow
                            .btn-text Оформить заявку на выполнение работ или аренду оборудования
                            .btn-arrow
                                +img('arrow-right.svg')
                        h3 Способы строительного водопонижения иглофильтрами
                        p Наличие грунтовых вод в зоне строительных работ затрудняет производство земляных работ. Без специальных мероприятий по их снижению или осушению часто невозможно выполнить работы.
                        p Для локализации грунтовых вод мы применяем:
                        ul
                            li эжекторные иглофильтры;
                            li установки вакуумного водопонижения.
                        p Способ понижения грунтовых вод и используемое оборудование определяется исходя из мощности водонасыщенного слоя, величины снижения уровня грунтовых вод, конструкции будущего сооружения, коэффициентов фильтрации водовмещающих грунтов.
                .services__info-block
                    .services__info-block_text
                        h2 Организация работ по устройству строительного водопонижения
                        p До начала работ по водопонижению уточняется расположение подземных коммуникаций, проверяется состояние сооружений в зоне понижения уровня грунтовых вод.
                        p В предварительно пробурённые скважины устраиваются иглофильтры в соответствии с разработанными схемами. Шаг установки иглофильтров принимается в зависимости от фильтрационных свойств грунтов. Скважины очищаются от бурового шлама. Фильтры перед опусканием в скважины проверяются. При этом необходимо обратить особое внимание, чтобы сетка не имела оборванных нитей, неплотных стыков и просечек.
                        p Важным этапом при выполнении работ является заполнение пространства между фильтром и обсадной трубой песчано-гравийной смесью фракциями 2–6 мм. Качественное выполнение обсыпки исключает возможность выноса частиц грунта из окружающего массива. В процессе засыпки обсадные трубы извлекаются с таким расчётом, чтобы низ обсадной трубы не выходил из зоны обсыпки на 1–1,5 м. Коэффициент фильтрации песчано-гравийной смеси должен быть не менее 5 м/сутки.
                        p Для наблюдения за процессом понижения уровня грунтовых вод предусматривается устройство гидронаблюдательных скважин в количестве 1 штука на 1 установку.
                        p Сброс откачиваемой воды производится по сбросным коллекторам в существующую водосточную сеть или на локальные очистные сооружения, а после очистки в существующие ручьи.
                        p Работы по строительному водопонижению должны выполняться в соответствии с требованиями СП 45.13330.2017 «Земляные сооружения, основания и фундаменты». Актуализированная редакция СНиП 3.02.01–87, ВСН 127–91 и инструкций по эксплуатации используемого оборудования и механизмов.
                    .services__info-block_image
                        +img('services-page/1.png')
                .services__info-block
                    .services__info-block_text
                        h2 Стоимость работ по водопонижению
                        p На цену работ по выполнению понижения грунтовых вод иглофильтрами влияют много факторов:
                        p инженерно-геологические условия;
                        p расположение объекта;
                        p объём работ;
                        p стеснённые условия.
                        p Стоимость работ для каждого объекта рассчитывается индивидуально. Для расчёта стоимости выполнения работ или аренды установок водопонижения оставьте заявку или позвоните по телефону +7 985 786-40-68. Если у вас остались вопросы, вы всегда можете обратится в «УМ333». Наши сотрудники с удовольствием проконсультируют вас и ответят на все интересующие вопросы!

                        h3 Стоимость аренды оборудования для водопонижения
                        .table-wrapper
                            .table
                                table
                                    thead
                                        tr
                                            th № П/П
                                            th Наименование
                                            th Количество
                                    tbody
                                        tr
                                            td 1
                                            td Эжекторная установка водопонижения
                                            td 1 шт.
                                        tr
                                            td 2
                                            td Насос Belamos 1500
                                            td 1 шт.
                                        tr
                                            td 3
                                            td Коллектор d=76 мм
                                            td 16 п.м.
                                        tr
                                            td 4
                                            td Иглофильтры спиральные ФСК 0000М
                                            td 12 шт.
                                        tr
                                            td(colspan="2") Стоимость:
                                            td 2 000 000 ₽
                        a(href='javascript:void(0)').btn.btn-orange.btn-with-arrow
                            .btn-text Оформить заявку
                            .btn-arrow
                                +img('arrow-right.svg')
                    .services__info-block_image
                        +img('services-page/2.png')

                .services__info-block
                    .services__info-block_text
                        h2 Аренда установок строительного водопонижения
                        p Для работ компания «Управление Механизации 333» предлагает в аренду следующие системы:
                        ul
                            li эжекторные иглофильтры;
                            li установки вакуумного водопонижения.
                        a(href='javascript:void(0)').btn.btn-orange.btn-with-arrow
                            .btn-text Оформить заявку
                            .btn-arrow
                                +img('arrow-right.svg')
                    .services__info-block_image
                        +img('services-page/3.png')
    +objects('Выполнение водопонижения на объектах')